.main {
    height: calc(100vh - 80px);
    margin: 40px 0;
}

.album {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.album_info_img img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.album_info_left {
    margin-left: 40px;
    min-height: 440px;
}

.album_info_right {
    max-height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    overflow: scroll;
    margin-left: 40px;
}

.album_action_button {
    margin-top: 40px;
    text-align: center;
}

.album_action_button button {
    background-color: #444;
    border: none;
    color: #fff;
    width: 120px;
    padding: 5px;
}

.album_info_header {
    border-left: 3px solid orange;
    padding-left: 10px;
}

.album_info_title {
    font-size: 36px;
}

.album_info_artist {
    margin-top: 3px;
}

.album_info_rate {
    margin-top: 20px;
}

.album_info_songs {
    margin-top: 20px;
}

table.album_info_songs {
    min-width: 400px;
    border-collapse:collapse;
    margin:40px auto 0;
}

.album_info_songs td,th {
    border-top:1px solid #ddd;
    padding:15px;
}

.album_info_songs tr:last-child td,
.album_info_songs tr:last-child th {
    border-bottom:1px solid #ddd;
}

.comments {
    height: calc(100vh - 80px);
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.comments li{
    width: 350px;
    height: calc((100vh - 140px)/4);
    overflow: hidden;
    margin-right: 60px;
}

.comments li {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 10px;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.comments li:nth-child(4n) {
    margin-bottom: 0;
}

.comment_username {
    font-size: 20px;
}

.comment_username a {
    text-decoration: none;
    color: #000;
}

.comment_rate {
    margin-top: 5px;
    font-size: 12px;
}

.comment_datetime {
    margin-top: 5px;
    font-size: 12px;
    color: #8e8e93;
}

.comment_content {
    word-wrap:break-word;
    margin-top:10px;
}

.comment_form_content, .comment_form_rate {
    margin-bottom: 20px;
    width: 100%;
}

.comment_form_content {
    border: 1px solid #ddd;
    height: 300px;
    padding: 15px;
    font-size: 16px;
}

.comment_form_rate {
    border: 1px solid #ddd;
    height: 56px;
    padding: 15px;
}

.comment_form {
    text-align: center;
}

.comment_form .album_action_button {
    margin-top: 15px;
}