.product {
    width: 660px;
    margin-left: 20px;
}

.product-info {
    display: flex;
}

.product-info-left {
    width: 150px;
}

.product-info-right {
    width: 430px;
    margin-left: 20px;
}
