<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/song.css">
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascript/common.js"></script>
</head>
<body>
<div class="wrapper">
    <ul class="sidebar">
        <li class="sidebar_brand">
            <a href="/">RECOREACH</a>
        </li>
        <li>
            <a href="/">Recommendations</a>
        </li>
        <li>
            <a href="/lyrics">Lyrics</a>
        </li>
        <li>
            <a href="/timeline">Timeline</a>
        </li>
        <li>
            <a th:href="${'/users/' + user.getUserId()}">Mypage</a>
        </li>
    </ul>
    <div class="sidebar_width">

    </div>
    <div class="main">
        <div class="song_info">
            <div class="song_info_left">
                <a th:href="${'/albums/' + song.getAlbumId()}">
                    <img th:src="'/image/album/' + ${song.getAlbum().get().getImageFileName()}" width="200" height="200">
                </a>
            </div>
            <div class="song_info_right">
                <div class="song_info_header">
                    <div class="song_title" th:text="${song.getSongTitle()}"></div>
                    <div class="song_album_title" th:text="${song.getAlbum().get().getArtist().get().getArtistName()}">name</div>
                </div>
            </div>
        </div>

        <div class="song_lyrics">
            <th:block th:if="${song.getSongLyrics()}">
                <th:block th:each="str, stat : ${song.getSongLyrics().split('\r\n|\r|\n', -1)}">
                    <th:block th:text="${str}"/>
                    <br th:if="${!stat.last}"/>
                </th:block>
            </th:block>
        </div>
        <div class="recommendataion_form">
            <form th:action="@{'/songs/' + ${song.getSongId()} + '/lyricsRecommendation' }" th:object="${form}" th:method="post">
                <div>
                    <textarea class="form_lyrics" th:field="*{lyrics}" placeholder="好きなフレーズをコピーして投稿してみましょう&#13;&#10;投稿するとLyricsに表示されます"></textarea>
                </div>
                <div class="form_submit">
                    <button class="form_submit_btn" th:type="submit">投稿</button>
                </div>
                <input type="hidden" th:field="*{songId}">
            </form>
        </div>

        <div class="recommendations">
            <div class="recommendation" th:each="recommendation : ${song.getLyricsRecommendationList()}">
                <div class="user_name">
                    <a th:href="${'/users/' + recommendation.getUser().get().getUserId()}" th:text="${recommendation.getUser().get().getUsername()}"></a>
                </div>
                <div class="recommendation_content">
                    <th:block th:each="str, stat : ${recommendation.getLyrics().split('\r\n|\r|\n', -1)}">
                        <th:block th:text="${str}"/>
                        <br th:if="${!stat.last}"/>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
