<!doctype html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/comment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascript/common.js"></script>
</head>
<body>
<div>
    <div class="wrapper">
        <ul class="sidebar">
            <li class="sidebar_brand">
                <a href="/" th:text="BLAND"></a>
            </li>
            <li class="sidebar_user_info">
                <span class="sidebar_username" th:text="${user.getUsername()}"></span>
                <div class="sidebar_description">のマイページ</div>
            </li>
            <li>
                <a th:href="@{'/users/' + ${user.getUserId()}}">Favorites</a>
            </li>
            <li class="sidebar_active">
                <a th:href="@{'/users/' + ${user.getUserId()} + '/comments'}">Comments</a>
            </li>
            <li>
                <a th:href="@{'/users/' + ${user.getUserId()} + '/followings'}">Following</a>
            </li>
            <li>
                <a th:href="@{'/users/' + ${user.getUserId()} + '/followers'}">Follower</a>
            </li>
            <li th:if="${!isFollowing}">
                <form class="follow_form" name="form" method="post" th:action="@{'/relationships/' + ${user.getUserId()}}">
                    <button class="follow_btn" type="submit">follow</button>
                </form>
            </li>
            <li th:if="${isFollowing}">
                <form class="follow_form" name="form" th:method="delete" th:action="@{'/relationships/' + ${user.getUserId()}}">
                    <button class="follow_btn" type="submit">unfollow</button>
                </form>
            </li>
        </ul>
        <div class="sidebar_width">
        </div>
        <div class="main">
            <div class="comments">
                <div th:each="comment: ${user.getCommentList()}" class="comment">
                    <a th:href="${'/albums/' + comment.getAlbum().get().getAlbumId()}">
                        <img th:src="${'/image/album/' + comment.getAlbum().get().getImageFileName()}" alt="">
                    </a>
                    <div class="comment_info">
                        <div class="comment_datetime" th:text="${#temporals.format(comment.getCommentCreatedAt(), 'yyyy/MM/dd HH:mm')}"></div>
                        <div class="comment_rate">
                            <th:block th:each="seq : ${#numbers.sequence(1, 5)}">
                                <span th:if="${seq <= comment.getDisplayRate()}" class="fa fa-star checked"></span>
                                <span th:unless="${seq <= comment.getDisplayRate()}" class="fa fa-star"></span>
                            </th:block>
                        </div>
                        <div class="comment_content" th:text="${comment.getContent()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

