<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/album.css">
    <link rel="stylesheet" type="text/css" href="/lib/modaal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/jquery-bar-rating/themes/fontawesome-stars.css">
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/lib/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script src="/lib/modaal.js"></script>
    <script src="/javascript/common.js"></script>
</head>
<body>
<div class="wrapper">
    <ul class="sidebar">
        <li class="sidebar_brand">
            <a href="">BLAND</a>
        </li>
        <li>
            <a href="/">Recommendations</a>
        </li>
        <li>
            <a href="/">Lyrics</a>
        </li>
        <li>
            <a href="/timeline">Timeline</a>
        </li>
        <li>
            <a th:href="${'/users/' + user.getUserId()}">Mypage</a>
        </li>
    </ul>
    <div class="sidebar_width">

    </div>
    <div class="main">
        <div class="album">
            <div class="album_info_left">
                <div class="album_info_img">
                    <img th:src="@{'/image/album/' + ${album.getImageFileName()}}" width="300" height="300"/>
                </div>
                <div class="album_action_button">
                    <button type="button" class="comment_button">
                        コメントを投稿
                    </button>
                </div>
                <div class="album_action_button" th:if="${isFollowing}">
                    <form th:action="'/albums/' + ${album.getAlbumId()} + '/favorites'" th:method="delete">
                        <button type="submit">
                            お気に入りから削除
                        </button>
                    </form>
                </div>
                <div class="album_action_button" th:unless="${isFollowing}">
                    <form th:action="'/albums/' + ${album.getAlbumId()} + '/favorites'" th:method="post">
                        <button type="submit">
                            お気に入りに追加
                        </button>
                    </form>
                </div>
            </div>
            <div class="album_info_right">
                <div class="album_info_header">
                    <h2 class="album_info_title">With the Beatles</h2>
                    <p class="album_info_artist">beatles</p>
                </div>
                <p class="album_info_rate">
                    <th:block th:each="seq : ${#numbers.sequence(1, 5)}">
                        <span th:if="${seq <= album.getDisplayRate()}" class="fa fa-star checked"></span>
                        <span th:unless="${seq <= album.getDisplayRate()}" class="fa fa-star"></span>
                    </th:block>
                </p>
                <table class="album_info_songs">
                    <tr th:each="song, stat : ${album.getSongList()}">
                        <td th:text="${stat.count + '.'}"></td>
                        <td>
                            <a th:text="${song.getSongTitle()}" th:href="${'/songs/' + song.getSongId()}"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <ul class="comments">
                <li class="comment" th:each="comment : ${album.getCommentList()}">
                    <div class="comment_username">
                        <a th:text="${comment.getUser().get().getUsername()}" th:href="${'/users/' + comment.getUser().get().getUserId()}"></a>
                    </div>
                    <div class="comment_rate">
                        <th:block th:each="seq : ${#numbers.sequence(1, 5)}">
                            <span th:if="${seq <= comment.getDisplayRate()}" class="fa fa-star checked"></span>
                            <span th:unless="${seq <= comment.getDisplayRate()}" class="fa fa-star"></span>
                        </th:block>
                    </div>
                    <div class="comment_datetime" th:text="${#temporals.format(comment.getCommentCreatedAt(), 'yyyy/MM/dd HH:mm')}"></div>
                    <div class="comment_content">
                        <th:block th:if="${comment.getContent()}">
                            <th:block th:each="str, stat : ${comment.getContent().split('\r\n|\r|\n', -1)}">
                                <th:block th:text="${str}"/>
                                <br th:if="${!stat.last}"/>
                            </th:block>
                        </th:block>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="modal_body" style="display:none;">
    <form method="post" th:action="@{'/albums/' + ${album.getAlbumId()} + '/comments'}" th:object="${commentForm}" class="comment_form">
        <textarea class="comment_form_content" th:field="*{content}" placeholder="コメント" maxlength="500" required></textarea>
        <select class="comment_form_rate" th:field="*{rate}" required>
            <option value="2"></option>
            <option value="4"></option>
            <option value="6"></option>
            <option value="8"></option>
            <option value="10"></option>
        </select>
        <div class="album_action_button">
            <button class="comment_form_submit_button" type="submit">投稿</button>
        </div>
    </form>
</div>
<script>
    $(".comment_button").modaal(
        {
            content_source: '#modal_body',
            hide_close: true,
            overlay_opacity: 0.8,
            height: 500,
            width: 500
        }
    );

    $(function() {
        $('.comment_form_rate').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>
</body>
</html>
