<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/album.css">
    <link rel="stylesheet" type="text/css" href="/lib/modaal.css">
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/lib/modaal.js"></script>
</head>
<body>
<div class="wrapper">
    <ul class="sidebar">
        <li class="sidebar_brand">
            <a href="">BLAND</a>
        </li>
        <li>
            <a href="/timeline">timeline</a>
        </li>
        <li>
            <a href="/">favorites</a>
        </li>
    </ul>
    <div class="sidebar_width">

    </div>
    <div class="main">
        <div class="album">
            <div class="album_info_left">
                <div class="album_info_img">
                    <img th:src="@{'/image/album/' + ${album.getImageFileName()}}" width="300" height="300"/>
                </div>
                <div class="album_action_button">
                    <button type="button" class="comment_button">
                        コメントを投稿
                    </button>
                </div>
                <div class="album_action_button" th:if="${isFollowing}">
                    <form th:action="'/albums/' + ${album.getAlbumId()} + '/favorites'" th:method="delete">
                        <button type="submit">
                            お気に入りから削除
                        </button>
                    </form>
                </div>
                <div class="album_action_button" th:unless="${isFollowing}">
                    <form th:action="'/albums/' + ${album.getAlbumId()} + '/favorites'" th:method="post">
                        <button type="submit">
                            お気に入りに追加
                        </button>
                    </form>
                </div>
            </div>
            <div class="album_info_right">
                <div class="album_info_header">
                    <h2 class="album_info_title">With the Beatles</h2>
                    <p class="album_info_artist">beatles</p>
                </div>
                <p class="album_info_rate">RATE: 5.4</p>
                <table class="album_info_songs">
                    <tr>
                        <td>1.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>It Won't Be Long [Remastered 2009]</td>
                        <td>02:13</td>
                    </tr>
                </table>
            </div>
            <ul class="comments">
                <li class="comment" th:each="comment : ${album.getCommentList()}">
                    <div class="comment_username">
                        <a th:text="${comment.getUser().get().getUsername()}" th:href="${'/users/' + comment.getUser().get().getUserId()}"></a>
                    </div>
                    <div class="comment_rate" th:text="${'RATE: ' + comment.getRate()}"></div>
                    <div class="comment_datetime" th:text="${#temporals.format(comment.getCommentCreatedAt(), 'yyyy/MM/dd HH:mm')}"></div>
                    <div class="comment_content" th:text="${comment.getContent()}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="modal_body" style="display:none;">
    <form method="post" th:action="@{'/albums/' + ${album.getAlbumId()} + '/comments'}" th:object="${commentForm}" class="comment_form">
        <textarea class="comment_form_content" th:field="*{content}" placeholder="コメント" maxlength="500" required></textarea>
        <input class="comment_form_rate" th:field="*{rate}" type="number" placeholder="0〜10" min="0" max="10" step="1" required>
        <div class="album_action_button">
            <button class="comment_form_submit_button" type="submit">投稿</button>
        </div>
    </form>
</div>
<script>
    $(".comment_button").modaal(
        {
            content_source: '#modal_body',
            hide_close: true,
            overlay_opacity: 0.8,
            height: 500,
            width: 500
        }
    );
</script>
</body>
</html>
